node_modules
.DS_Store
.vscode
*.log
.env
server/public/videos/*
!server/public/videos/.gitkeep

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
